<%- include('partials/header'); -%>

<form action="/reset-password">
  <h2>Password Reset</h2>
  <div class="error"></div>
  <label for="password">New Password</label>
  <input type="password" placeholder="*******" name="password" required />
  <label for="cpassword">Confirm Password</label>
  <input
    type="password"
    placeholder="*******"
    name="confirmpassword"
    required
  />
  <button>RESET</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector("form");
  const seterror = document.querySelector(".error");
  const locate = document.location.search;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
     // seterror.textContent = "";

    // get values
    const password = form.password.value;
    const cpassword = form.confirmpassword.value;
    let token_start_position = locate.search("token") + 6;
    console.log(token_start_position);
    let id_start_position = locate.search("id") + 3;
    console.log(id_start_position);
    const token = locate.substring(
      token_start_position,
      id_start_position - 4
    );
    const id = locate.substring(id_start_position, location.length);

    console.log(token);
    console.log(id);
    if (password !== cpassword) {
      seterror.textContent = "Password does not match.";
      return;
    }
    if (password !== "") 
    {
        var passwordFormat = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,16}$/;
        if (!(password.match(passwordFormat))) {
          seterror.textContent = "Input password having atleast a number, a special character and must be 7-16 characters"
          return;
        }
    }
    else{
      seterror.textContent = "Input password having atleast a number, a special character and must be 7-16 characters"
      return;
    }

    
    try {
      const res = await fetch(`/reset-password?token=${token}&id=${id}`, {
        method: "POST",
        body: JSON.stringify({ password }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      if (data.error) {
        seterror.textContent = data.error;
        return;
      }
      else {
        location.replace("/reset-password-success");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
